
section > div {
	max-width: 700px;
	margin: 0 auto;
	padding: 40px 0 100px 0;
}
pre {
	font-size: 14px;
	max-width: 700px;
}
.mainLink {
	margin: 20px 0 40px 0;
}
section > div > h2 {
	font-size: 32px;
	font-weight: 400;
	border-bottom: solid 1px #BCBEC0;
	padding-bottom: 12px;
}
@media only screen and (max-width: 768px) {
	nav > div > h1 {
		margin: 0;
	}
	menu {
		padding-left: 40px;
	}
	header h2 {
		font-size: 16px !important;
	}
	header h3 {
		font-size: 14px;
	}
	section {
		padding: 2px 10px;
	}
	section > div > h2 {
		font-size: 18px;
	}
}